
<EditForm Model="Client" class="shadow bg-white rounded">
    <div class=" p-3 mb-1 bg-white rounded" id="Signature" name="Signature">

        <div class="row">
            <div class="col-md-12">
                 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
                <table>
                <tr>
                    <td>
                        <form>
                            <img onclick="CargarImagen();" id="imageCard" src="/Images/avatar-disabled.svg"  width="80" height="80" alt="" style="margin-right:15px; object-fit: cover;" />
                            <input type="image" name="name" value="" id="MyImage" style="display:none;" />
                        </form>

                    </td>
                    <td>
                        <b style="margin: 6px 0px 0px 0px; font-size:24px;"> <i></i>@Client.Name</b>
                        <p style="margin: 0px 6px 0px 0px; font-size:14px; color:gray;" class="font-weight-light">@Client.Description</p>
                    </td>
                    <td>
                        <div class="color-signature-line" style=" background-color: @Signatures.Color; border: 2px solid @Signatures.Color;"></div>
                    </td>
                    <td>
                        <p style="margin: 6px 0px 0px 0px;"><i class="fa fa-phone" style="color:@Signatures.Color; "></i> @Client.PhoneNumber</p>
                        <p style="margin: 0px 6px 0px 0px;"> <i class="fa fa-map-marker" style="color:@Signatures.Color;"></i> @Client.Address</p>
             
                </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</EditForm>

@code {

}
